* {
    margin: 0px;
    padding: 0px;
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn {
    padding: 4px 5px;
    background-color: #2874f0;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.add-cart {
    background-color: #007185;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 2px 5px;
    margin-bottom: 5px;
}

.main{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
      background-color: #e2e7e6;
    }
.shop-section {
    animation: fadeIn 1s ease-in-out;
    display: flex;
    gap: 0.7rem;
    width: 100vw;
    background-color: #e2e7e6;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem ;
}


 @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
.box {
    background-color: white;
    padding-top: 10px;
}
.shop-section h2{
    font-size: 1rem;
}

.box-content {
    margin: 0rem 1rem;
    width: 100px;
}

.box-content p {
    color: #007185;
}

.box-image {
    aspect-ratio: 1.1/1;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem; 
}

.box:hover {
    transform: scaleY(1.05);
    box-shadow: 0px 0px 5px black;
}

    

    @media(max-width:400px) {
        .shop-section{
            justify-content: center;
            padding: 1rem auto;
        }
        .box {
           width: fit-content;
            margin: 10px 10px;
            justify-content: center;
        }
    }

  