* {
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: #e2e7e6;
}
.products {
    display: flex;
    gap: 20px;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    gap: 0.7rem;
    background-color: #e2e7e6;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
}

.product-card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    aspect-ratio: 1.1/1;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
}

.product-card:hover {
    transform: scaleZ(2);
    box-shadow: 0px 0px 5px black
}


button {
    padding: 8px 0.5rem ;
    border: none;
    background: #1d1e1e;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.add-to-cart {
    background-color: #007185;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    border-radius: 10px;
    padding: 2px 5px;
    margin-bottom: 5px;
}

.wishlist {
    cursor: pointer;
    font-size: 22px;
}

.wishlist.active {
    color: red;
}

.cart {
    position: fixed;
    right: 0;
    top: 5rem;
    height: 100%;
    width: 350px;
    background: rgba(255, 255, 255, 0.938);
    padding: 20px;
    overflow: auto;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.qty {
    margin: 5px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media(max-width:400px) {
    .products {
        justify-content: center;
        padding: 1rem auto;
    }

    .product-card {
        width: fit-content;
        margin: 10px 10px;
        justify-content: center;
    }
}

